.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer__links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer__links a:hover {
    color: #fff;
    text-decoration: underline;
}
