.service-text-wrapper {
    text-align: center;
    vertical-align: middle;    
}
.service-title {
    font-size: 50px;
}
.service-description {
    width: 75%;
    margin: auto;
}
.service_image {
    width: 100%;
    margin: auto;
    display: block;
    padding: 15px;
}
.service-image-wrapper {
    margin: auto;
}
.service_wrapper {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* media query for desktop size screens - min-width */
@media only screen and (min-width: 768px) {
    .service-card {
        height: 475px;
    }
    .service_image {
        width: 60%;
        padding: 0px;
    }
}
