.service-title {
    text-align: center;
}
.service_image {
    width: 100%;    
}
.service_wrapper {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* media query for desktop size screens - min-width */
@media only screen and (min-width: 768px) {
    .service-card {
        height: 475px;
    }
    .service_image {
        width: 375px;
    }
}
