@import "react-slideshow-image/dist/styles.css";

/* .spanStyle {
    padding: '20px',
    background: '#efefef',
    color: '#000000'
}

divStyle {
    display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
        backgroundSize: 'cover',
        height: '400px'
} */